<h2>Detalhes do Produto</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>

  <table>
  <select class="form-control" type="number" [(ngModel)]="cbQuant" >
    <option *ngFor="let item of kgs" [ngValue]="item">
      {{item}}
    </option>
  </select>
  <td><button type="submit" (click)="addToCart(product)">Adicionar</button></td>
  <td>
      <a [routerLink]="['/productList']">
       <button class="button">Voltar</button>
      </a>
  </td>
  </table>
</div>
